.navbar{
    height: 50px;
    background-color: #003B95;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.font{
    font-weight: 500;
}